<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Control de Alumnos - Gestión de alumnos para el instituto IRSO">
  <title>Control de Alumnos</title>
  <link rel="stylesheet" href="estilo.css"> <!-- Enlace al archivo CSS -->
</head>

<body>
  <header>
    <h1 class="text-center">Bienvenidos al Control de Alumnos</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/alumno">Control de Alumnos</a></li>
      <li><a href="/nuevo">Agregar Alumno</a></li>
    </ul>
  </nav>

  <main>
    <section class="search-section">
      <input type="text" id="search" placeholder="Buscar alumno" onkeyup="searchTable()">
    </section>

    <section class="table-section">
      <article>
        <table id="alumnoTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Dni</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Fecha De Nacimiento</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="alumno : ${lista}">
              <td th:text="${alumno.id}"></td>
              <td th:text="${alumno.dni}"></td>
              <td th:text="${alumno.nombre}"></td>
              <td th:text="${alumno.apellido}"></td>
              <td th:text="${alumno.email}"></td>
              <td th:text="${alumno.telefono}"></td>
              <td th:text="${#dates.format(alumno.fecha_de_nacimiento, 'dd/MM/yyyy')}"></td>
              <td>
                <a href="/editar/{alumno.id}" class="btn btn-primary">Editar</a>
                <a href="/eliminar/{alumno.id}" class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </main>

  <footer>
    <p>&copy; Irso Proyecto Grupal hecho en la materia POO.</p>
  </footer>

  <script src="script.js"></script> <!-- Enlace al archivo JS -->
</body>
</html>
