<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Agregar Alumno</title>
  <meta name="form-control" content="Control de Alumnos - Gestión de alumnos para el instituto IRSO">
  <link href="estiloAlumno.css" rel="stylesheet"> 
</head>

<body>
  
  <!--Encabezado-->
    <header>
    <h1>Control de Alumnos</h1>
      <nav>
        <ul>
          <li><a href="/index">Alumnos</a></li>
        </ul>
      </nav>
    </header>

    
    <!--Formulario de agregar alumno-->
    <main>
      <form th:action="@{/guardar}" th:object="${alumno}" method="post">
        <fieldset>
          <legend>Agregar Alumno</legend>

          <label for="dni">DNI:</label>
          <input type="text" id="dni" name="dni" th:field="*{dni}" placeholder="Digite el DNI del Alumno" required>

          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Digite el Nombre del Alumno" required>

          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" th:field="*{apellido}" placeholder="Digite el Apellido del Alumno" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" th:field="*{email}" placeholder="Digite el Email del Alumno" required>

          <label for="telefono">Telefono:</label>
          <input type="number" id="telefono" name="telefono" th:field="*{telefono}" placeholder="Digite el Telefono del Alumno" required>

          <label for="fecha_de_nacimiento">Fecha de Nacimiento:</label>
          <input type="date" id="fecha_de_nacimiento" name="fecha_de_nacimiento" th:field="*{fecha_de_nacimiento}" required>
          <!-- Botón guardar -->
          <button type="submit">Guardar</button>

        </fieldset>
      </form>
    </main>

</body>

</html>